{% extends 'layout.html' %}
<!-- main content block -->
{% block content %}
<div id="cv-style">
  <div class="text-center mb-4">
    <h2>Jacqueline Walsh</h2>
    19 Carraig Alainn, Loughrea, Co Galway<br/>
    Phone: 085 7033942<br/>
    Email: <a href="mailto:jacqueline.walsh34@gmail.com">jacqueline.walsh34@gmail.com</a><br/>
    LinkedIn: <a href="https://www.linkedin.com/in/jacquelinewalsh" target="_blank">Visit LinkedIn Profile</a><br/>
  </div>
  <br/>
  <section id="profile mt-4 mb-4">
  <h3>PROFILE</h3>
  <hr class="hr-dark">
  <p>
    An adaptable, conscientious and enthusiastic student, with a passion for a career in Web Development. Well organised with strong attention to detail and proactive in providing timely, efficient and accurate reports, as well as having excellent inter-personal skills. Now looking for a suitable web development position that makes best use of my existing abilities and allows me to develop new skills. 
  </p>
  </section>
  <br/>
  <section id="technical mt-4 mb-4">
    <h3>TECHNICAL SKILLS PROFILE</h3>
    <hr class="hr-dark">
    <ul>
      <li>Programming Languages: HTML5, CSS3, JavaScript, Java, Python, PHP, Ruby, JSON, XML</li>
      <li>Frameworks: Angular, Flask, Django, Ruby on Rails, CodeIgniter</li>
      <li>Version Control: Git / Github</li>
      <li>Database Systems: MySQL, MongoDB</li>
      <li>Networking: CompTIA A+</li>
      <li>Applications: Microsoft Office Suite (Word, Excel, PowerPoint, Outlook, Access), Photoshop, WordPress, Drupal</li>
      <li>Excellent Communication Skills and Strong Customer Service Experience</li>
      <li>Agile Methodology</li>
      <li>Well Organised with Solid Administration Skills</li>
    </ul>
  </section>
  <br/>
  <section id="education mt-4 mb-4">
    <h3>EDUCATION</h3>
    <hr class="hr-dark">
    <!-- Education No 1 -->
    <div class="education-block">
      <h5>2019 - Present: <span class="title">HDip Software Engineering</span></h5>
      <p>National University of Ireland Galway, University Road, Galway</p>
      <strong>Qualifications: <span class="quals">To be Achieved</span></strong><br/>
      Modules:<br/>
      <ul>
        <li>Computer Architecture and Operating Systems</li> 
        <li>Fundamentals of Programming  - Based on C</li>
        <li>Software Engineering</li>
        <li>Object Oriented Programming - Java</li>
        <li>Distributed Systems and the Cloud - Elective subject</li>
      </ul>
    </div>    
    <!-- Education No 2 -->
    <div class="education-block">
      <h5>2019 - 2019: <span class="title">Diploma Full Stack Development</span></h5>
      <p>Code Institute, 1st Floor, Block 1, Blackrock Business Park, Carrysfort Ave, Blackrock, Co Dublin</p>
      <strong>Qualifications: <span class="quals">Diploma First Class Honours</span></strong><br/>
      Modules:<br/>
      <ul>
        <li>User Centric Frontend Development - HTML5 / CSS3 - Project</li> 
        <li>Interactive Frontend Development - HTML5 / CSS3 / JavaScript - Project</li>
        <li>Data Centric Development - HTML5 / CSS3 / JavaScript / Python / Flask / MongoDB</li>
        <li>Full Stack Development - HTML5 / CSS3 / JavaScript / Python / Django /  Sqlite</li>
      </ul>
    </div>
    <!-- Education No 3 -->
    <div class="education-block">
      <h5>2016 - 2018: <span class="title">HDip Sicience in Computing (Software Development)</span></h5>
      <p>National College of Ireland, Mayor St Lower, International Financial Services Centre, Dublin</p>
      <strong>Qualifications: <span class="quals">Higher Diploma First Class Honours</span></strong><br/>
      Modules:<br/>
      <ul>
        <li>Computer Architecture, Operating Systems and Networks</li>
        <li>Web Design - HTML5, CSS3, JavaScript</li>
        <li>Software Development - Java</li>
        <li>Introduction to Databases - MySQL</li>
        <li>Object Oriented Software Engineering - Java</li>
        <li>Advanced Programming - Java</li>
        <li>Data Structures and Algorithms - Java</li>
        <li>Server Side Development</li>
        <li>Web Services and API Development</li>
      </ul>
    </div> 
    <!-- Education No 4 -->
    <div class="education-block">
      <h5>2016 - 2017: <span class="title">Oracle Java Foundation</span></h5>
      <p>eCollege, Maynooth Castle, Maynooth, Co. Kildare</p>
    </div>  
 
    <!-- Education No 5 -->
    <div class="education-block">
      <h5>2015 - 2016: <span class="title">BSc Digital Technology &amp; Design (Coding Stream)</span></h5>
      <p>Dublin Institute of Technology, Kevin Street, Dublin</p>
      <strong>Qualifications: <span class="quals">BSc - Distinction</span></strong><br/>
    </div>
    <br/>
    <!-- Education No 6 -->
    <div class="education-block">
      <h5>2013 - 2013: <span class="title">Digital Marketing</span></h5>
      <strong>Qualifications: <span class="quals">FETEC Level 6 - Distinction</span></strong><br/>      
    </div> 
    <br/>
    <!-- Education No 7 -->
    <div class="education-block">
      <h5>2011 - 2011: <span class="title">Oracle MySQL5 Developer</span></h5>
    </div> 
    <br/>  
    <!-- Education No 8 -->
    <div class="education-block">
      <h5>2011 - 2011: <span class="title">Advanced Diploma in Web Design</span></h5>
      <p>IBAT College, 19 Wellington Quay, Temple Bar, Dublin 2</p>    
  </section>  
  <br/>
  <section id="employment mt-4 mb-4">
    <h3>EMPLOYMENT HISTORY</h3>
    <hr class="hr-dark">
    <!-- Employment No 1 -->
    <div class="employment-block">
      <h5>2005 - Present: <span class="title">Freelance Web Developer / Student</span></h5>
      <p>Simply Web Design, 19 Carraig Alainn, Loughrea, Co Galway</p>  
      Key Responsibilities:<br/>
      <ul>
        <li>Software Engineer Student at NUIG with a passion and self motivated to learn</li>
        <li>Freelance – Previously freelanced building Wordpress websites</li>
        <li>Mammy – Caring after my two children while studying and working at home</li>
      </ul>      
    </div>  
    <!-- Employment No 2 -->
    <div class="employment-block">
      <h5>2004 - 2005: <span class="title">Fiduciary Support Assistant</span></h5>
      <p>Standard Bank Offshore Trust Company Jersey Limited, PO Box 583, 47-49 La Motte Street, St Helier, Jersey, JE4 8XR</p>  
      Key Responsibilities:<br/>
      <ul>
        <li>Working with team to ensure procedural policy followed with Trustees</li>
        <li>Writing up of procedural policies</li>
        <li>Checking and validation of records</li>
        <li>Checking KYC documentation complete and meets policy standard</li>
      </ul>      
    </div> 
    <!-- Employment No 3 -->
    <div class="employment-block">
      <h5>2002 - 2004: <span class="title">Corporate Adminstrator</span></h5>
      <p>Overseas Management Company (Jersey) Ltd, 31 Board Street, St Helier, Jersey, JE4 8ZP</p>  
      Key Responsibilities:<br/>
      <ul>
        <li>Incorporation of BVI Offshore Shelf Companies</li>
        <li>Incorporation of Jersey Companies and Trusts</li>
        <li>Administration of legal documentation</li>
        <li>Liaison between clients, Banks, Trust Companies, Company House and other Legal Profession</li>
      </ul>      
    </div> 
    <!-- Employment No 4 -->
    <div class="employment-block">
      <h5>2001 - 2002: <span class="title">Senior Client Service Associate - Client Services</span></h5>
      <p>RBSI Securities Services Group, Liberte House, 19-23 La Motte Street, St Helier, Jersey</p>       
    </div>               
  </section>  
  <br/>
  <section id="achievements mt-4 mb-4">
    <h3>ADDITIONAL ACHIEVEMENTS / INTERESTS</h3>
    <hr class="hr-dark">
    <ul>
      <li>JEB Diploma in Teaching Information Communication Technology</li>
      <li>Train the Trainer FETEC Level 6 - Distinction</li>
      <li>Full driver’s License</li>
      <li>Passion for learning Web Development</li>
      <li>Member:  <span class="member">that Code, Coding Grace, Women in Technology, PyLadies</span></li>
    </ul>
  </section> 
  <br/>  
  <section id="reference mt-4 mb-4">
    <h3 class="text-center">REFERENCES AVAILABLE UPON REQUEST</h3>
  </section>
  <br/>
  </div>
{% endblock content%}