{% extends 'layout.html' %}
<!-- main content block -->
{% block content %}
<h2>My Portfolio</h2>
<p>Further work can be found on my <a href="https://github.com/jacqueline-walsh" target="_blank">github</a> account</p>
<div class="row">
  <div class="col-md-6 text-center">
    <h3>Breaking Bad</h3>
    <p>Search the cast of Breaking Bad - React Library featuring Breaking Bad API and pagination - hosted on GitHub Pages</p>
    <a href="https://jacqueline-walsh.github.io/Breaking-Bad/" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_BreakingBad.png" alt="Breaking Bad - image of portfolio" class="portfolio-image img-fluid">
  </div>
  <div class="col-md-6 text-center">
    <h3>Recipe Search</h3>
    <p>Search a Recipe - React Library featuring Edamam API - hosted on AWS</p>
    <a href="https://main.dhbleu72e4af7.amplifyapp.com/" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_recipeSearch.png" alt="Recipe Search - image of portfolio" class="portfolio-image img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h3>BookIt</h3>
    <p>An online ecommerce book store - Python Django Framework, JavaScript, SQLite Database - hosted on Heroku</p>
    <a href="https://bookit-online-book-store.herokuapp.com/" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen.jpg" alt="BookIt - image of portfolio" class="portfolio-image img-fluid">
  </div>
  <div class="col-md-6 text-center">
    <h3>ChefMate</h3>
    <p>A Recipe Management Tool - Python Flask Framework, JavaScript, MongoDB Database - hosted on Heroku</p>
    <a href="http://chefmate-manager.herokuapp.com/" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_chefMate.jpg" alt="ChefMate - image of portfolio" class="portfolio-image img-fluid">
  </div>
</div>
<br>
<hr>
<div class="row">
  <div class="col-md-6 text-center">
    <h3>Game of Thrones</h3>
    <p>Battle Chart depicting the battle scenes carried out over a 3 year period - JavaScript D3.js - hosted on Github Pages</p>    
    <a href="https://jacqueline-walsh.github.io/Game_of_Thrones_Battle_Chart/" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_game_of_thrones.jpg" alt="Game of Thrones - image of portfolio" class="portfolio-image img-fluid">
  </div>
  <div class="col-md-6 text-center">
    <h3>Queen</h3>
    <p>A tribute site to Queen - HTML5, CSS3, parallex site  - hosted on Github Pages</p>
    <a href="https://jacqueline-walsh.github.io/queen/index.html" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_queen.jpg" alt="Queen - image of portfolio" class="portfolio-image img-fluid">
  </div>
</div>
<br/>
<hr>
<div class="row">
  <div class="col-md-6 text-center">
    <h3>Irish4Fun</h3>
    <p>Interactive storybook teaching children colours of the rainbow in Irish - Desktop Development Only - Python, Flask, JavaScript turn.js - hosted on Heroku</p>    
    <a href="https://irish4fun.herokuapp.com/" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_irish4fun.jpg" alt="Irish4Fun" class="portfolio-image img-fluid">
  </div>
  <div class="col-md-6 text-center">
    <!-- <h3>Queen</h3>
    <p>A tribute site to Queen - HTML5, CSS3, parallex site  - hosted on Github Pages</p>
    <a href="https://jacqueline-walsh.github.io/queen/index.html" target="_blank">Visit Site</a>
    <img src="https://jacqueline-walsh-portfolio.s3-eu-west-1.amazonaws.com/mac_screen_queen.jpg" alt="Queen - image of portfolio" class="portfolio-image img-fluid"> -->
  </div>
</div>
<br/>
{% endblock content%}

