{% extends 'layout.html' %}
<!-- main content block -->
{% block content %}
<h2 class="mb-4">Testimonials of My Work</h2>
<div class="row equal">
  <div class="col-md-6 mb-2 mt-2 d-flex">
    <div class="card card-block">
      <div class="card-body">
        <div class="card-title"><a href="https://www.linkedin.com/in/jacquelinewalsh/" target="_blank">LinkedIn Recommendations</a></div>
        <div class="card-text">
          <p>Jacqueline wears her deep learning and breadth of knowledge lightly. An excellent team-mate or team leader. Jacqueline is tenacious and never fails to exceed the incredibly high goals she sets for herself. With Jacqueline every deadline is reached in advance, every goal is exceeded, every metric is surpassed. As a beneficiary of her inclusive and open manner, I can attest to her generosity in empowering team-mates, her calm under pressure, and her ability to steer any project to success.</p>
        <strong><i>Barry Regan - Senior Operations Analyst at Global Payments</i></strong>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6 mb-2 mt-2 d-flex">
    <div class="card card-block">
      <div class="card-body">
        <div class="card-title"><a href="https://www.linkedin.com/in/jacquelinewalsh/" target="_blank">LinkedIn Recommendations</a></div>      
        <div class="cart-text">
          <p>Having worked with Jacqueline on numerous web development projects, I have to commend both her ability and work ethic. Jacqueline is tenacious at overcoming any obstacles in her away. In addition, Jacqueline is a pleasure to work with and is a real team player.</p>
        <strong><i>Breandán Murray - Data Protection and Security Consultant with extensive PM experience</i></strong>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row equal">
    <div class="col-md-6 mb-2 mt-2 d-flex">
      <div class="card card-block">
        <div class="card-body">
          <div class="card-title"><a href="http://jennieclarke.com/" target="_blank">Play Therapy</a></div>
          <div class="card-text">
            <p>I was delighted with the service provided by Jacqueline at Simply web Design. She put a lot of time finding out what I wanted (and helping me brainstorm when I wasn’t sure what I wanted!). She also kept me motivated with gentle encouragement whenever I started to procrastinate or suffer ‘writers block’. She had a lot of good ideas and a great eye for design, but was also very flexible and open to my requests and suggestions. The webpage has exceeded my expectations, and has had a lot of positive feedback from my friends and peers. I can highly recommend Simply Web Design- what you will end up with is a unique design, perfectly tailor made to get your message out there.”</p>
          <strong><i>Jennie Clarke</i></strong>
          </div>
        </div>
      </div>
  
    </div>
    <div class="col-md-6 mb-2 mt-2 d-flex">
      <div class="card card-block">
        <div class="card-body">
          <div class="card-title"><a href="http://myweddingsinger.ie/" target="_blank">My Wedding Singer</a></div>
          <div class="cart-text">
            <p>I have to say, all credit to the lovely Jacqueline – Simply Web Design. I couldn’t possibly fault her hard work and dedication to perfection.</p>

            <p>As I had never dealt with a Web Designer before, I was a bit hesitant initially about what the finished product would look like. On our first meeting Jacqueline grasped exactly what I wanted and she certainly delivered. Thank you so much for your hard work, your professionalism and your lovely manner. I am thrilled with the results and will be recommending you to everyone.</p>
          <strong><i>Rossanna Brehony</i></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row equal">
    <div class="col-md-6 mb-4 mt-2 d-flex">
      <div class="card card-block">
        <div class="card-body">
          <div class="card-title"><a href="http://crowedecorating.ie/" target="_blank">Crowe Painting and Decorating</a></div>
          <div class="cart-text">
            <p>I have no hesitation in recommending Jacqueline and Simply Web Design. I was delighted with the work she did on my website, upon our first meeting Jacqueline’s pure professionalism confirmed that I made the correct choice in contacting Simply Web Design. Thank you Jacqueline.</p>
            <strong><i>Brian Crowe</i></strong>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <br/>
{% endblock content %}